<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
    <select id="getUserInfoById">
        SELECT *
        FROM user_form_info
        <where>
            user_id = #{userId}
        </where>
    </select>

    <insert id="insertUserInfo">
        INSERT INTO user_form_info (
            user_id
            , password
            , name
            , birth
            , gender
            <if test="email != null and email != ''">
                , email
            </if>
            , zip_code
            , address
        ) VALUES (
            #{userId}
            , #{password}
            , #{name}
            , #{birth}
            , #{gender}
            <if test="email != null and email != ''">
                , #{email}
            </if>
            , #{zipCode}
            , #{address}
        )
    </insert>
</mapper>