@import url("./fonts.css");

body {
    width: 100%;
    height: 100vh;
    font-family : 'Noto Sans KR', sans-serif !important;
    font-weight : 400;
}

.center-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-container {
    width: 465px;
}

/* hasFeedback 옵션을 줬을 때 나오는 아이콘 위치 조정 (안하면 아이콘이 나온 뒤 살짝 위로 올라감) */
.sign-up-container .ant-form-item-children-icon > .anticon {
    vertical-align: -2px;
}

/* validation 에러 메시지 폰트 사이즈 조정 */
.ant-form-item-explain.ant-form-item-explain-error, .ant-form-item-explain.ant-form-item-explain-success,
.ant-form-item-explain.ant-form-item-explain-validating {
    font-size : 12px;
}

.sign-up-container .ant-card-head {
    font-weight : bold;
    font-size : 18px;
}

.sign-up-container .ant-card-body {
    height: 750px;
    overflow: auto;
}

/* antd message 가 사라질 때 애니메이션 (원래 그대로 사용하면 사라질 때 버벅거림) */
@keyframes messageMoveOut {
    from {
        max-height: 150px;
        padding: 8px;
        opacity: 1;
    }
    to {
        max-height: 0;
        padding: 0;
        opacity: 0;
    }
}

.layout .header {
    box-shadow: 0 2px 8px #f0f1f2;
    background-color : #fff;
}

.ant-move-up-leave.ant-move-up-leave-active {
    animation : messageMoveOut .3s;
}

.sidebar .ant-menu-inline {
    border-right : none !important;
}

.sidebar .drawer-handle {
    position: absolute;
    top: 72px;
    right: -40px;
    width: 41px;
    height: 40px;
    cursor: pointer;
    z-index: 0;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 2px 0 8px #00000026;
    border-radius: 0 4px 4px 0;
}

.drawer-handle-icon {
    width: 14px;
    height: 2px;
    background: #333;
    position: relative;
    transition: background .3s cubic-bezier(.78,.14,.15,.86);
}

.drawer-handle-icon:before, .drawer-handle-icon:after {
    content: "";
    display: block;
    position: absolute;
    background: #333;
    width: 100%;
    height: 2px;
    transition: transform .3s cubic-bezier(.78,.14,.15,.86);
}

.drawer-handle-icon:before {
    top: -5px;
}

.drawer-handle-icon:after {
    top: 5px;
}
.sidebar.ant-drawer-open .drawer-handle-icon {
    background: 0 0;
}

.sidebar.ant-drawer-open .drawer-handle-icon:before {
    transform: translateY(5px) rotate(45deg);
}

.sidebar.ant-drawer-open .drawer-handle-icon:after {
    transform: translateY(-5px) rotate(-45deg);
}

.sidebar .ant-menu-title-content {
    font-size : 13px;
}

/* 데스크탑 화면 */
@media (min-width: 768px) {
    .layout .header {
        position : relative;
        z-index : 2000;
    }
    .sidebar {
        margin-top : 55px;
    }
    .sidebar .ant-drawer-content-wrapper {
        box-shadow : none !important;
        border-right : 1px solid #f0f0f0;;
    }
    .sidebar .ant-drawer-mask {
        display : none;
    }
    .layout .content {
        margin-left : 220px;
    }
    .layout .footer {
        margin : 0 30px 0 250px;
    }
}

/* 모바일 화면 */
@media (max-width: 768px) {
    .layout .footer {
        margin : 0 30px;
    }
}